<mat-tab-group>
  <mat-tab label="Ordens de compra">
    <table mat-table [dataSource]="purchaseOrders" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.product?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="situation">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.purchaseOrderSituation.name}} </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="savePurchaseOrder(element)">edit</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="deletePurchaseOrder(element)">delete</mat-icon>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['id', 'product', 'quantity', 'situation', 'info', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'product', 'quantity', 'situation', 'info', 'delete'];"></tr>
    </table>
    <button mat-fab color="primary" class="fab-right" (click)="savePurchaseOrder()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
  <mat-tab label="Cotações">
    <table mat-table [dataSource]="quotations" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.product?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
        <td mat-cell *matCellDef="let element"> {{element.provider?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:'BRL'}} </td>
      </ng-container>
      <ng-container matColumnDef="situation">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.quotationSituation.name}} </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="saveQuotation(element)">edit</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="deleteQuotation(element)">delete</mat-icon>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['id','product','quantity','provider','price','situation','info', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id','product','quantity','provider','price','situation','info', 'delete'];"></tr>
    </table>
    <button mat-fab color="primary" class="fab-right" (click)="saveQuotation()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
  <mat-tab label="Compras">
    <table mat-table [dataSource]="purchases" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.product?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
        <td mat-cell *matCellDef="let element"> {{element.provider?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:'BRL'}} </td>
      </ng-container>
      <ng-container matColumnDef="situation">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.purchaseSituation.name}} </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="savePurchase(element)">edit</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="deletePurchase(element)">delete</mat-icon>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['id','product','quantity','provider','price','situation','info', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id','product','quantity','provider','price','situation','info', 'delete'];"></tr>
    </table>
    <button mat-fab color="primary" class="fab-right" (click)="savePurchase()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
  <mat-tab label="Fornecedores">
    <table mat-table [dataSource]="providers" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="saveProvider(element)">edit</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="deleteProvider(element)">delete</mat-icon>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'info', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'info', 'delete'];"></tr>
    </table>
    <button mat-fab color="primary" class="fab-right" (click)="saveProvider()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
  <mat-tab label="Produtos">      
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço de compra </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:'BRL'}} </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="saveProduct(element)">edit</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="info-icon" (click)="deleteProduct(element)">delete</mat-icon>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'price', 'info', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'price', 'info', 'delete'];"></tr>
    </table>
  </mat-tab>
</mat-tab-group>