#title{
    cursor: pointer;
}

.drawer-container {
    width: 100%;
    height: 100%;
}

.drawer-sidenav {
    width: 200px;
    padding: 20px;
}

.drawer-item{
    display: block;
}

.page-content{
    padding: 10px;
}