<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button color="accent" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/home" id="title">ERP Microsserviços - {{ currentRoute }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <button *ngFor="let route of routes" mat-icon-button [routerLink]="route.href" class="drawer-item" style="display:block">
      <mat-icon color="accent">{{ route.icon }}</mat-icon>
      {{ route.text }}
    </button>
  </mat-drawer>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
